h1 {
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    font-family: Sans-serif;
}
.wrapper {
    width: 1170px;
    margin: 20px auto;
}
nav {
    position: absolute;
    background-color: whitesmoke;
    font-size: 16px;
}
nav > ul {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -0-flex;
    display: flex;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}
nav a {
    display: block;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li {
    color: #000000;
    list-style: none;
    transition: 0.5s;
}
nav > ul > li > a {
    padding: 15px 25px;
}
nav ul>li.dropdown > a:after{
    position: relative;
    float: right;
    content: '';
    margin-left: 10px;
    margin-top: 8px;
}
nav > ul >li:hover{
    text-decoration: underline;
}
nav ul.menu-area{
    padding: 40px 40px 0 40px;
    background-color: whitesmoke;
    text-align: left;
    box-shadow: 0 5px 10px black;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -0-flex;
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    top: -9999px;
    left: 0;
}
nav ul li:hover ul.menu-area{
    top: 100%
}
nav ul.menu-area ul{
    width: 25%;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}
nav ul.menu-area h4{
    margin-bottom: 15px;
    text-transform: uppercase;
}
nav ul.menu-area ul li{
    display: block;
}
nav ul.menu-area ul li a {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-transform: none;
}
nav ul.menu-area ul li a:hover{
    color: rgb(107, 107, 107);
}